@import "../../assets/styles/common";

.dw-menu-wrapper {
  width: 100%;
}

.dw-menu-subroot {
  overflow: hidden;
  background: var(--black);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
