@import "../../assets/styles/common";

.dw-btn {
  cursor: pointer;
  user-select: none;
  border: var(--border1px);
  border-color: var(--primary);
  border-radius: var(--borderRadius5px);
  padding: 0 var(--20px);
  height: var(--40px);
  background-color: var(--primary);
  text-transform: capitalize;
  text-align: center;
  max-width: 100%;

  &.secondary,
  &.plain {
    background-color: var(--blackSecondary);
  }

  &.small {
    height: var(--36px);
  }

  &:disabled {
    opacity: 0.6 !important;
    cursor: not-allowed;
  }

  &:active {
    opacity: 0.5;
  }

  @include dwLg() {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.dw-btn-spinner-custom-mask {
  background-color: rgb(0 0 0 / 40%) !important;
  cursor: not-allowed;
}
