@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: JetBrainsMono-Light;
  src: url("../fonts/JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url("../fonts/JetBrainsMono-Bold.woff2");
}

@layer components {
  .text-10 {
    @apply font-[JetBrainsMono-Light] text-[0.625rem] leading-[0.9375rem] box-border;
  }

  .text-12 {
    @apply font-[JetBrainsMono-Light] text-[0.75rem] leading-[1rem] box-border;
  }

  .text-12-bold {
    @apply font-[JetBrainsMono-Bold] text-[0.75rem] leading-[1rem] box-border;
  }

  .text-14 {
    @apply font-[JetBrainsMono-Light] text-[0.875rem] leading-[1.375rem] box-border;
  }

  .text-14-bold {
    @apply font-[JetBrainsMono-Bold] text-[0.875rem] leading-[1.5rem] box-border;
  }

  .text-18-bold {
    @apply font-[JetBrainsMono-Light] text-[1.125rem] leading-[1.5rem] box-border;
  }

  body {
    @extend .text-14;

    @apply leading-[1.375rem] leading-[1.5rem] capitalize text-white;
  }
}
