@font-face {
  font-family: DW-JetBrainsMono-Light;
  src: url("../fonts/JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: DW-JetBrainsMono-Bold;
  src: url("../fonts/JetBrainsMono-Bold.woff2");
}

:root {
  --primary: #ff0083;
  --black: #1a1d1f;
  --blackSecondary: #242a2e;
  --gray: #c6c6c6;
  --white: #fff;
  --halfWhite: rgb(255 255 255 / 50%);
  --divider: rgb(255 255 255 / 20%);
  --link: #0094ff;
  --danger: #ff4b4b;
  --success: #42ff00;
  --warning: #ffb732;
  --dialogMask: rgb(26 29 31 / 80%);
  --borderRadius5px: 0.3125rem;
  --borderRadius10px: 0.625rem;
  --border1px: 1px solid rgb(255 255 255 / 50%);
  --border2px: 2px solid rgb(255 255 255 / 50%);
  --1px: 0.0625rem;
  --5px: 0.3125rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --26px: 1.625rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --44px: 2.75rem;
  --50px: 3.125rem;
  --60px: 3.75rem;
  --100px: 6.25rem;
  --220px: 13.75rem;
  --250px: 15.625rem;
}

/* override the variables for your theme here */
.theme-light {
  /*
  --primary: "#FF0083";
  --black: "#1A1D1F";
  --blackSecondary: "#242A2E";
  --gray: "#C6C6C6";
  --white: "#FFFFFF";
  --halfWhite: "rgba(255, 255, 255, 0.5)";
  --divider: "rgba(255, 255, 255, 0.2)";
  --link: "#0094FF";
  --danger: "#FF4B4B";
  --success:"#42FF00";
  --warning: "#FFB732";
  */
}

/* Define other styles here */

* {
  &:focus {
    outline: none !important;
  }
}

html {
  background-color: var(--black);
}

body {
  line-height: var(--24px);
  font-size: var(--14px);
}

*[class*="dw-"] {
  font-family: DW-JetBrainsMono-Light;
  color: white;
  text-transform: capitalize;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

/* removes the blue background when tapping links on iOS devices  */
a {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}
