@import "../../assets/styles/common";
$opacityDuration: 300ms;
$translateDuration: 300ms;

.dw-drop-down-wrapper {
  position: relative;

  .dw-drop-down-content {
    position: absolute;
    z-index: 100;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .dw-drop-down-enter {
    transform: translateY(-20px);
    opacity: 0;
  }

  .dw-drop-down-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform $translateDuration ease-in-out, opacity $opacityDuration ease-in-out;
    pointer-events: none;
  }

  .dw-drop-down-enter-done {
    opacity: 1;
    transform: translateY(0);
  }

  .dw-drop-down-exit {
    transform: translateY(0);
    opacity: 1;
  }

  .dw-drop-down-exit-active {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform $translateDuration ease-in-out, opacity $opacityDuration ease-in-out;
    pointer-events: none;
  }

  .dw-drop-down-exit-done {
    opacity: 0;
    transform: translateY(-20px);
  }
}
