@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: JetBrainsMono-Light;
  src: url("../fonts/JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url("../fonts/JetBrainsMono-Bold.woff2");
}

html {
  @apply bg-black;
}

* {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

/* removes the blue background when tapping links on iOS devices  */
a {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

@layer components {
  .text-10 {
    @apply font-[JetBrainsMono-Light] text-[0.625rem] leading-[0.9375rem] box-border;
  }

  .text-12 {
    @apply font-[JetBrainsMono-Light] text-[0.75rem] leading-[1rem] box-border;
  }

  .text-12-bold {
    @apply font-[JetBrainsMono-Bold] text-[0.75rem] leading-[1rem] box-border;
  }

  .text-14 {
    @apply font-[JetBrainsMono-Light] text-[0.875rem] leading-[1.375rem] box-border;
  }

  .text-14-bold {
    @apply font-[JetBrainsMono-Bold] text-[0.875rem] leading-[1.5rem] box-border;
  }

  .text-18-bold {
    @apply font-[JetBrainsMono-Bold] text-[1.125rem] leading-[1.5rem] box-border;
  }

  .text-24-bold {
    @apply font-[JetBrainsMono-Bold] text-[1.5rem] leading-[1.975rem] box-border;
  }

  .page-title {
    @apply font-[JetBrainsMono-Bold] text-[1.125rem] leading-[1.5rem] lg:text-[1.5rem] lg:leading-[1.975rem] box-border;
  }

  .divider {
    @apply border-divider box-border;
  }

  .clickable {
    @apply hover:opacity-80 active:opacity-50 select-none cursor-pointer box-border;
  }

  .card {
    @apply bg-blackSecondary p-[0.9375rem] lg:p-[1.875rem] rounded-[0.625rem] box-border;
  }

  body {
    @apply font-[JetBrainsMono-Light] text-[0.875rem] leading-[1.375rem] leading-[1.5rem] capitalize text-white;
  }
}

/* Navigation highlight */
.active {
  background-color: #ff0083;

  .parent-menu,
  .child-menu {
    font-family: JetBrainsMono-Bold, serif !important;
  }
}
