@import "../../assets/styles/common";

.dw-spinner {
  position: relative;
  min-height: 130px;

  &.small {
    min-height: auto;
  }

  .dw-spinner-mask {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dialogMask);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .dw-spinner-text {
    @extend .dw-text-18-bold;

    margin-top: var(--30px);
  }

  .dw-spinner-loading {
    width: 100px;
    height: 100px;
    background-color: var(--primary);
    border-radius: 0;
    border: none;
    animation: spinning-square 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  }

  @keyframes spinning-square {
    0% {
      transform: perspective(100px) rotateX(0) rotateY(0);
    }

    25% {
      transform: perspective(100px) rotateX(180deg) rotateY(0);
    }

    50% {
      transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }

    75% {
      transform: perspective(100px) rotateX(0) rotateY(180deg);
    }

    100% {
      transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
  }

  .dw-spinner-fade-enter {
    opacity: 0;
  }

  .dw-spinner-fade-enter-active {
    transition: opacity 200ms ease-in-out;
    opacity: 1;
  }

  .dw-spinner-fade-enter-done {
    opacity: 1;
  }

  .dw-spinner-fade-exit {
    opacity: 1;
  }

  .dw-spinner-fade-exit-active {
    transition: opacity 200ms ease-in-out;
    opacity: 0;
  }

  .dw-spinner-fade-exit-done {
    opacity: 0;
  }

  .dw-spinner-small {
    color: var(--primary);
  }

  .dw-spinner-svg {
    width: var(--20px);
    height: var(--20px);
    animation: dw-small-spinner-animation 1s linear infinite;

    circle {
      opacity: 0.25;
      stroke: var(--white);
    }

    path {
      opacity: 0.75;
      fill: var(--white);
    }
  }

  @keyframes dw-small-spinner-animation {
    100% {
      transform: rotate(1turn);
    }
  }
}
