@import "../../assets/styles/common";

$opacityTransitionDuration: 300ms;
$opacityEase: cubic-bezier(0.645, 0.045, 0.355, 1);
$translateTransitionDuration: 300ms;
$scaleEase: cubic-bezier(0.68, -0.6, 0.32, 1.6);

.dw-modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .dw-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.8;
    z-index: 50;
  }
}

.modal-content {
  position: relative;
  z-index: 56;
  width: 92%;
  max-width: 35rem;
}

.dw-modal-enter {
  opacity: 0;

  .modal-content {
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

.dw-modal-enter-active {
  opacity: 1;
  transition: opacity $opacityTransitionDuration $opacityEase;

  .modal-content {
    transform: scale3d(1, 1, 1);
    transition: transform $translateTransitionDuration $scaleEase;
  }
}

.dw-modal-enter-done {
  opacity: 1;

  .modal-content {
    transform: scale3d(1, 1, 1);
  }
}

.dw-modal-exit {
  opacity: 1;

  .modal-content {
    transform: scale3d(1, 1, 1);
  }
}

.dw-modal-exit-active {
  opacity: 0;
  transition: opacity $opacityTransitionDuration $opacityEase;

  .modal-content {
    transform: scale3d(0.5, 0.5, 0.5);
    transition: transform $translateTransitionDuration $scaleEase;
  }
}

.dw-modal-exit-done {
  z-index: -10;
  opacity: 0;

  .modal-content {
    transform: scale3d(0.5, 0.5, 0.5);
  }
}
