@import "../../assets/styles/common";

$scaleTransitionDuration: 200ms;
$opacityTransitionDuration: 150ms;

.dw-popover-init {
  transform: scale3d(0, 0, 0);
  opacity: 0;
}

[data-popper-placement*="bottom"],
[data-popper-placement*="top"],
[data-popper-placement*="left"],
[data-popper-placement*="right"] {
  .popover-enter {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }

  .popover-enter-active {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    transition: transform $scaleTransitionDuration ease-in-out, opacity $opacityTransitionDuration ease-in;
  }

  .popover-enter-done {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  .popover-exit {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  .popover-exit-active {
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: transform $scaleTransitionDuration ease-in-out, opacity $opacityTransitionDuration ease-in;
  }

  .popover-exit-done {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}

[data-popper-placement*="top"] {
  .popover-enter-active,
  .popover-exit-active {
    transform-origin: bottom center;
  }
}

[data-popper-placement*="bottom"] {
  .popover-enter-active,
  .popover-exit-active {
    transform-origin: top center;
  }
}

[data-popper-placement*="left"] {
  .popover-enter-active,
  .popover-exit-active {
    transform-origin: right center;
  }
}

[data-popper-placement*="right"] {
  .popover-enter-active,
  .popover-exit-active {
    transform-origin: left center;
  }
}
